name = "pzm-api"
main = "src/index.ts"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]

# ---------------------------------
# Routes
# ---------------------------------
routes = [
  { pattern = "api.pzm.ae/*", zone_name = "pzm.ae" }
]

# ---------------------------------
# Production Environment ONLY
# ---------------------------------
[env.production]
vars.ENVIRONMENT = "production"

# D1 Database (Production)
[[env.production.d1_databases]]
binding = "DB"
database_name = "pzm-db"
database_id = "b8574f74-a23f-4f2b-bc18-1322afb7de2c"

# R2 Bucket (Production)
[[env.production.r2_buckets]]
binding = "BUCKET"
bucket_name = "pzm-images"

# KV Namespace (Production)
[[env.production.kv_namespaces]]
binding = "KV"
id = "6df924c74e19424787a69c9f493b3151"

