name = "pzm-api"
main = "src/index.ts"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]

# =====================================================================
# Staging (test.pzm.ae) - Uses same resources as production
# =====================================================================
[env.staging]
name = "pzm-api-staging"
vars = { ENVIRONMENT = "staging", ADMIN_SECRET = "your-super-secret-admin-key-change-this-in-production", ZEPTOMAIL_API_TOKEN_STAGING="wSsVR61z8hKlD/x6njarcug/zAtRVF2kQUV4jFX3vn75F/2Q8cc/lkbNBQKvHqQZFDU/RzVA8L0qnR0A1DoLjNwkyllVWSiF9mqRe1U4J3x17qnvhDzDW2tZkxqPLYkIwA1imGhmG8Aj+g==" }

[[env.staging.routes]]
pattern = "test.pzm.ae/api/*"
zone_name = "pzm.ae"

[[env.staging.d1_databases]]
binding = "DB"
database_name = "pzm-db"
database_id = "b8574f74-a23f-4f2b-bc18-1322afb7de2c"

[[env.staging.r2_buckets]]
binding = "BUCKET"
bucket_name = "pzm-images"

[[env.staging.kv_namespaces]]
binding = "KV"
id = "6df924c74e19424787a69c9f493b3151"

# =====================================================================
# Production (api.pzm.ae)
# =====================================================================
[env.production]
vars = { ENVIRONMENT = "production", ADMIN_SECRET = "your-super-secret-admin-key-change-this-in-production", ZEPTOMAIL_API_TOKEN_PRODUCTION = "wSsVR61z8hKlD/x6njarcug/zAtRVF2kQUV4jFX3vn75F/2Q8cc/lkbNBQKvHqQZFDU/RzVA8L0qnR0A1DoLjNwkyllVWSiF9mqRe1U4J3x17qnvhDzDW2tZkxqPLYkIwA1imGhmG8Aj+g==" }

[[env.production.routes]]
pattern = "api.pzm.ae/*"
zone_name = "pzm.ae"

[[env.production.d1_databases]]
binding = "DB"
database_name = "pzm-db"
database_id = "b8574f74-a23f-4f2b-bc18-1322afb7de2c"

[[env.production.r2_buckets]]
binding = "BUCKET"
bucket_name = "pzm-images"

[[env.production.kv_namespaces]]
binding = "KV"
id = "6df924c74e19424787a69c9f493b3151"

